.flex-container{
    display: flex;
    flex-direction: column;
}

.papa{
    padding-top: 20px;
}

.papa1{
    padding-top: 110px;
}

.papa2{
    padding-top: 105px;
}
.papa3{
    padding-top: 105px;
}
.papa4{
    padding-top: 110px;
}